<div class="cases-container">
  <div class="header">
    <h1>Officers</h1>
  </div>

  <div *ngIf="isLoading" class="loading-shade">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <table mat-table [dataSource]="data" class="mat-elevation-z0" *ngIf="!isLoading">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Officer ID</th>
      <td mat-cell *matCellDef="let o">#{{o.officer_id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Full Name</th>
      <td mat-cell *matCellDef="let o"><strong>{{o.full_name}}</strong></td>
    </ng-container>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef>Rank</th>
      <td mat-cell *matCellDef="let o">{{o.rank}}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let o">{{o.department}}</td>
    </ng-container>

    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef>Contact</th>
      <td mat-cell *matCellDef="let o">{{o.contact}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  <div *ngIf="!isLoading && data.length === 0" style="padding: 40px; text-align: center; color: gray;">
    <p>No officers found.</p>
  </div>
</div>